<div class="container-fluid">




	<div id="login-panel" class="content bg-white login-wrapper">
		<h1>Welcome</h1>
		<% if logged_in? %>
		    <% controller.redirect_to :controller => 'welcome', :action => 'index' %>
		<%end%>
		<%= button_to "Login", '/login', method: :get%>
		<%= button_to "Sign Up", '/users/new', method: :get%>
	</div>

</div>
