<div class="container-fluid">
	<div class="bg-white content">
		<h1>Consignments added today</h1>
		<% if @results.count >= 1 %>
		<%= render partial: "consignments/consignment-table"%>
		<% else %>
			<h3>No Consignments Added Today</h3>
		<% end %>
	</div>
</div>