<div class="container-fluid">

		<h1 class="heading-white">Welcome <%= current_user.username %></h1>


	<%= render partial: "welcome/top-panels"%>

	<%= render partial: "welcome/today-panel"%>

	<%= render partial:"welcome/week-panel"%>


</div>