// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.panel-content {
    margin:15px;
}

.panel-content ul {
	list-style-type:none;
	font-size:1.25em;
	padding-left:0px;
}

.heading-white {
	color:white;
}

