<div class="container-fluid">
  <div class="bg-white content">

<p id="notice"><%= notice %></p>

<h1>Consignments</h1>
<hr/>
<%= render partial: "consignments/results"%>

<br>

<%= link_to 'New Consignment', new_consignment_path %>
</div>
</div>
<script>
   $(function(){
     $('.pagination a').attr('data-remote', 'true')
   });
 </script>
